.container {
    background-image: linear-gradient(to right bottom, #330033, #000000);
    height: auto;
    canvas {
        position: fixed;
        left: 0;
        top: 0;
    }

    .card {
        width: 100%;
        height: 100vh;
        padding: 1rem;
        box-sizing: border-box;
        background-clip: content-box;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #0000000f;
    }

    .start_content,
    .end_content {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: aliceblue;
    }
}
