.container {
    padding: var(--rv-nav-bar-height) 1rem;
    box-sizing: border-box;
    background-color: #333;
    height: auto;

    display: flex;
    justify-content: center;

    .cards {
        width: 80%;
        height: auto;
        margin: 0 auto 1rem;
        .card {
            width: 100%;
            height: auto;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
            }
        }

        .start_content,
        .end_content {
            height: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            color: aliceblue;
        }
    }
}
