.container {
    background-color: #000;
    display: flex;
    justify-content: space-around;
    .cssbox {
        width: 40%;
        aspect-ratio: 1 / 1;
        background-color: #0ff;
    }
    .wbox {
        width: 40%;
        .hbox {
            padding-top: 100%;
            position: relative;
            .content {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #ff0;
            }
        }
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
