.container {
    position: relative;
    background-image: linear-gradient(to right bottom, #000, #333);
    height: 100vh;

    @function getShadows($n) {
        $shadows: ' #{random(100)}vw #{random(100)}vh #fff';
        @for $i from 2 through $n {
            $shadows: '#{$shadows}, #{random(100)}vw #{random(100)}vh #fff';
        }
        @return unquote($shadows);
    }

    @keyframes moveUp {
        to {
            transform: translateY(-100vh);
        }
    }

    $duration: 400s;
    $count:1000;
    @for $i from 1 through 5 {
        $duration: $duration / 2;
        $count: floor($count / 2);
        .layer#{$i} {
            $size: #{$i}px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: #{$i};
            width: $size;
            height: $size;
            border-radius: 50%;
            box-shadow: getShadows($count);
            animation: moveUp $duration linear infinite;
            &::after {
                content: '';
                display: block;
                width: inherit;
                height: inherit;
                border-radius: inherit;
                box-shadow: inherit;
                position: inherit;
                left: inherit;
                top: 100vh;
            }
        }
    }

    .layer6 {
        z-index: 6;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #fff;
        @supports (background-clip: text) {
            background-clip: text;
            background-image: linear-gradient(to right, rgba(255, 231, 107, 1), rgba(38, 177, 255, 1));
            color: transparent;
        }
    }
}
