.container {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
        outline: none;
        border: none;
        padding: 1rem 1.5rem;
        border-radius: 1rem;
        font-size: 2rem;
        color: aqua;
        background-color: transparent;
        overflow: hidden;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            width: 200%;
            height: 200%;
            background-color: aqua;
            transform-origin: left top;
            animation: xuanzhuan 3s linear 0s infinite normal forwards;
        }
        &::after {
            content: attr(content);
            z-index: 2;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 100%;
            height: 100%;
            padding: 1px;
            box-sizing: border-box;
            border-radius: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000;
            background-clip: content-box;
            background-origin: content-box;
        }
    }
}

@keyframes xuanzhuan {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
