.container {
    padding: 1rem;
    .tips {
        font-size: 0.8rem;
        color: #bbb;
    }

    .batch {
        display: flex;
        align-items: center;
        overflow-x: auto;
        p,
        button {
            flex-shrink: 0;
            width: 5rem;
        }
    }

    .table {
        width: 100%;
        overflow-x: auto;
        .line {
            display: flex;
            flex-wrap: nowrap;
            height: 2rem;
            &.head {
                padding-top: 1rem;
                font-weight: bold;
                height: auto;
            }

            .cell {
                flex: 0 0 5rem;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;

                &.light {
                    color: #999;
                }

                &:nth-child(1) {
                    justify-content: flex-start;
                    position: sticky;
                    left: 0;
                }

                input {
                    text-align: center;
                }
            }
        }
    }
}
