.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    background-color: rgb(246, 248, 252);

    #tsparticles{
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
    }

    .btns {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 3rem;
        button {
            margin-bottom: 0.5rem;
        }
    }
}
